body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: f4f4f2;
  color: 333333
}

header {
  background: 333;
  color: f4f4f2;
  padding: 1rem 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: 006400;
  text-decoration: none;
}

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid 221;
  border-radius: 5px;
}

.linkedin-button {
  text-decoration: none; /* Remove underline from the link */
}

.linkedin-button button {
  padding: 10px 20px;
  background-color: 0077b5; /* LinkedIn blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Adjust text size */
}

.linkedin-button button:hover {
  background-color: 005f87; /* Darker blue on hover */
}

footer {
  text-align: center;
  padding: 10px;
  background: 333;
  color: 222;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 20px;
}
